/* To make the available columns scroll inside the page */
#tb_transform{
  overflow-y: scroll;
  height: 550px;
}


/* The static columns don't need headers */
#tb_transform .panel-default .panel-heading{
  visibility: hidden;
  padding: 0;
  height: 0;
}


/* To distinguish the non-dynamic columns and make them more compact*/
#tb_transform .panel-default .panel-body {
  padding-bottom: 0; padding-top: 0;
  margin-bottom: -1px; margin-top: -1px;
  background-color: whitesmoke;
}



/* To line up the selection widgets for available transforms*/
.transform-argsel {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}
